node_modules
dist
npm-debug.log
.env
.git
docker-compose.yml
Dockerfile
.DS_Store
pnpm-lock.yaml
pnpm-workspace.yaml
/.idea
/.vscode
node_modules
**/node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
docker-compose.*.yml
npm-debug.log
pnpm-lock.yaml
pnpm-workspace.yaml
.vscode
.env
